@media only screen and (max-width: 600px) {
    html {
        height: -webkit-fill-available;
    }
    body {
        height: -webkit-fill-available;
    }
    /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #101319 #101319;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
  }

  *::-webkit-scrollbar-thumb {
    background-color: #101319;
    border-radius: 14px;
    border: 2px solid #5e5e5e;
  }
  html, body {
    overflow-x: hidden !important;
  }
    #side_menu {
        display: none;
    }
    #mobilemenu {
        display: block;
        position: fixed;
        width: 100%;
        height: 7vh;
        bottom: 0;
        left: 0;
        background-color: #272f3c;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        color: white;
    } 
    #mobilenav {
        display: block;
        position: fixed;
        width: 100vw;
        height: 7vh;
        top: 0;
        left: 0;
    }
    .mobilemenuimgcontainer {
        height: 7vh;
        font-size: .8rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: flex-end;
        color: white;
    }
    #mobilenav .mobilenavindex {
        display: inline;
        margin-left: 1.5vh;
    }
    #mobilenav .mobilenavindex img {
        margin-top: 1.5vh;
        height: 4.2vh;
    }
    #mobilemenu img{
        height: 40%;
        margin-top: .5vh;
    }
    #mobilenavlogowanie {
        float: right;
        height: auto;
        margin-top: 1.5vh;
        margin-right: 3vh;
        background-color: #272f3c !important;
    }
    #container {
        width: 100vw;
        margin: 0;
        height: -webkit-fill-available;
    }
    #container_bc {
        background-position: 65% 50%;
        background-size: cover;
        width: 100vw;
        left: 0;
        top: -1vh;
    }
    #page1 {
        text-align: center;
        padding-left: 0 !important;
    }
    #page2, #page3, #page4{ 
        text-align: center;
        padding-left: 0 !important;
        padding-top: 11vh;
        height: 89vh;
    }
    
    .pchide {
        display: block;
    }
    .mobilehide {
        display: none;
    }
    .tournament-card {
       width: 85%;
       height: 70%;
       padding-left: 5vw;
       padding-right: 5vw;
    }
    .tour-info button{  
        padding: 1vh 3vh 1vh 3vh;
        width: 50vw !important;
        font-size: 1rem;
    }
    #tournaments-list-more {
        background-color: #ff2138;
        text-shadow: none;
        font-size: 1rem !important;
    }
    .tournament-card img {
        width: 100%;
        margin-top: 5%;
     }
    #tournaments-list, #players-list, #teams-list {
        width: 100%;
        margin-top: 1vh;
    }
    .tournament-detail-container {
        width: 100vw;
        margin-left: 0;
    }
    .aktualizacja {
        font-size: 1rem;
    }
    .najlepszedruzyny {
        font-size: 1.6rem;
    }
    .druzynycontent {
        margin-top: 5vh !important;
    }
    .players-list-div {
        font-size: 1rem !important;
    }
    .playerinner-wrapper li .crown {
        margin-bottom: auto !important;
    }
    #teams-list-container {
        background-attachment:scroll;
        background-size: 100vh, 190vh;
        background-image: linear-gradient(0deg, #101319 0%, #101319 50%, #101319a3 75%, rgba(255, 255, 255, 0) 100%), url(https://www.thetimes.co.uk/imageserver/image/%2Fmethode%2Ftimes%2Fprod%2Fweb%2Fbin%2Fdc203072-5954-11ed-962f-53da0c787308.jpg?crop=3052%2C1717%2C471%2C978);
    }
    .header {
        border-radius: 0 !important;
        font-size: 1rem !important;
        letter-spacing: .2rem;
        background-color: #ff2138;
        padding: 1vh 2vh 1vh 2vh;
        margin-bottom: 1vh;
    }
    .header h1 {
        margin-top: 0;
    }
    h1 {
        margin-bottom: 0 !important;
        font-size: 2.3rem;
        line-height: 2.3rem;
    }
    h2 {
        margin-bottom: 0 !important;
        font-size: 1.9rem;
        text-shadow: none !important;
        line-height: 1.9rem;
    }
    h3 {
        margin-bottom: 0vh !important;
        font-size: 1.6rem;
        line-height: 2rem;
        text-shadow: none !important;
    }h5 {
        margin-bottom: 0 !important;
        font-size: 1.4rem;
        text-shadow: none !important;
        line-height: 2rem;
    }
    .play { 
        margin-top: 51vh;
        font-size: 2rem;
        margin-left: calc(10% - 4vh);
        width: 80%;
    }
    .defaultbutton{  
        padding: .5vh 1.5vh .5vh 1.5vh ;
        color: #ffff;
        background-color: #ff2138;
        border: none;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-weight: 400;
        font-size: .9rem;
        text-transform: uppercase;
        transition: all .2s;
    }
    /* turnieje */
    /* turnieje */
    /* turnieje */
    .tournament-list-container {
        width: 100%;
        margin-left: 0;
        background-position: 40% 0%;
        background-image:linear-gradient(0deg, #101319 0%, #101319 50%, #101319a3 75%, rgba(255, 255, 255, 0) 100%), url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fc6bc1f1-2870-4492-909c-29369011dcf6/dbe3pcs-b7529486-a8d6-4673-8134-e172799bb4b3.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2ZjNmJjMWYxLTI4NzAtNDQ5Mi05MDljLTI5MzY5MDExZGNmNlwvZGJlM3Bjcy1iNzUyOTQ4Ni1hOGQ2LTQ2NzMtODEzNC1lMTcyNzk5YmI0YjMuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.rTk1y6ZoZoe2S5AiewuRUlXP60m98K75256NeQ25RQM"); /* W3C */
    }
    #turnieje-list-container {
        margin-top: 2vh;
        padding-bottom: 10vh;
    }
    #turnieje-list {
        width: 99%;
        margin: 0;
        padding: 5vw;
        margin-top: 30vh;
    }
    .turnieje-list-object {
        height: auto;
    }
    .turnieje-list-object img{
        max-height: 30vh;
        width: 90% !important;
    }
    #turnieje-list-header {
        padding-bottom: 1vh;
        padding-top: 1vh;
        background: linear-gradient(90deg, rgba(254,69,84,1) 0%, rgba(255,255,255,0) 100%, rgba(255,255,255,0) 100%);
    }
    #turnieje-list-header h1{
        margin-top: 0;
    }
    .tournament-list-object-box div {
        width: 90%;
    }
    .tournament-list-object-box span {
        letter-spacing: .1vh !important;
        font-size: 1rem !important;
    }
    /* rejestracja */
    /* rejestracja */
    /* rejestracja */
    #login-container-video {
        min-width: 100% !important;
        left: 0;
    }
    .hroom {
        text-align: center;
        width: 100%;
        display: block;
    }
    video {    
        left: -177% !important;
        object-fit: cover;
    }
    #registerinner-wrapper, #logininner-wrapper {
        padding-top: 2vh !important;
        margin-top: 10vh;
    }
    #rozpocznij {
        margin-top: 1vh !important;
        margin-right: 0 !important;
    }
    #registerinner-wrapper h1, #logininner-wrapper h1{
        font-size: 1.5rem;
        margin-bottom: 1.5vh !important;
    }
    .register-form div label {
        text-align: left;
        font-size: 1rem;
        font-weight: normal;
        width: 30vw;
    }
    .register-form div input {
        font-size: 1rem;
        width: 30vw;
    }
    .nomt {
        margin-top: 3vh !important;
    }
    #logininner-wrapper input, #logininner-wrapper label {
        width: 50% !important;
        display: block;
        text-align: center;
        margin: auto;
        font-size: 1rem;
    }
  
    #logininner-wrapper a{
        font-size: 1rem;
    }
    /* profil */
    /* profil */
    /* profil */
    .playerinner-wrapper {
        text-align: center;
    }
    .playerinner-wrapper img{
        margin: auto;
        float:none;
    }
    .playerinner-wrapper *{
        clear: both;
    }
    .playerinner-wrapper h1 {
        font-size: 2rem;
        text-align: center;
    }
    #profile-flex {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    }
    #profile-flex .grayed {
        display: block;
        width: 100%;
    }
    .profile-menu .active_nav {
        display: none;
    }
    .profile-menu {
        text-align: center;
    }
    .profile-menu .jakas {
        float: none !important;
        width: 90%;
        margin: auto;
        margin-top: 3vh;
    }
    .create_team {
        display: block;
        float: none !important;
        width: 90%;
        margin: auto;
        margin-top: 3vh;
    }
    .playerinner-wrapper .firsthr {
        margin-top: 4vh;
    }
    .playerinner-wrapper li {
        font-size: 1rem;
    }
    .playerinner-wrapper h3 {
        text-align: center;
        font-size: 1.6rem !important;
    }
    .playerinner-wrapper .profile-teams {
        text-align: center;
        display: block;
    }
    /* turniej  */
    /* turniej  */
    /* turniej  */
    #t-container {
        width: 100%;
        margin-left: 0;
        background-position: 50% 30% !important;
    }
    #additionalbc {
        width: 100%;
        left: 0;
    }
    #name {
        margin-top: 0;
        width: 100%;
        letter-spacing: .1rem !important; 
        font-size: 2.2rem;
    }
    #additionalbc #inner-wrapper {
        text-align: center;
    }
    #additionalbc #inner-wrapper div {
        font-size: 1.2rem;
    }
    #additionalbc #inner-wrapper .grayed {
        margin-bottom: 2vh;
        font-size: 1.1rem;
    }
    #show_teams, .dblarge {
        float: none !important;
        width: 90%;
        margin: auto;
    }
    .mecz div {
        font-size: 1rem !important;
        width: 90%;
    }
    .zapisana_druzyna {
        letter-spacing: 0.1rem;
        color: #ff2138;
        display: block;
        margin-top: 0vh;
    }
    .mecz .meczwynik {
        width: 10% !important;
    }
    .float-right {
        float: none;
    }
    #wybor_druzynbc {
        left: 0 !important;
    }
    .hnomb {
        margin-top: 0;
    }
    .mecz{
        width: 50vw;
    }
    .contactcontainer {
        height: auto !important;
    }
    /* kontakt */
    #contactinner-wrapper {
        width: 80vw;
        height: 20vh;
        margin-top: 7vh;
        padding-right: 10vw;
        padding-left: 10vw;
        color: white !important;
        font-size: 1.3rem;
        overflow: hidden !important;
    }
    #whitecontact {
        width: 80vw;
        position: absolute;
        top: 20vh;
        left: 0;
        height: 75%;
        overflow: hidden;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 3vh;
        background-color: #ebe7e1;
        color: black;
    }
    /* boczne menu */
    #mobilesidemenu {
        position: fixed;
        top: 0;
        left: -100vw;
        background-color: #202631;
        height: -webkit-fill-available;
        overflow: hidden !important;
        width: 95vw;
        transition: all .2s;
        color: white;
        padding-left: 5vw;
        padding-top: 10vh;
    }
    .sidemenumobileflexheader {
        margin-bottom: 5vh;
        width: 88vw;
        display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: flex-start;
align-content: flex-start;
    }
    .tourdetails {
        width: 100% !important;
    }
    #mobilesidemenu h2{ 
        font-size: 1.4rem !important;
    }
    .mobilesidemenu_shown {
        left: 0 !important;
    }
    #mobilesidemenuclose img {
        width: 8vw;
        height: auto;
        position: absolute;
        bottom: 13vh;
        right: 10vw;
        filter:invert(1);
    }
    .profile-menu form {
        clear: none !important;
    }
    .powiadomienieinner_wrapper {
        height: 100% !important;
    }
    .powiadomienie_card {
        font-size: .7em;
    }
    .powiadomienie_form {
        width: auto;
        margin-right: 2vw !important;
        text-align: left;
    }
    .bella {
        height: 2.5vh;
        filter: invert(1);
        position: relative;
    }
    .bell {
        height: 2.5vh;
    }
    #bellaafter {
        display: block;
        position: absolute;
        bottom: -1.2vh;
        right: -.7vh;
        font-weight: bold;
        color: #049092;
    }
    .mobilesidemenuflex {
        height: 85%;
        display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-between;
align-items: flex-start;
align-content: flex-start;
    }
    .dolaczdorozgrywki {
        margin-bottom: 3vh;
    }
    .dolaczdorozgrywki a h2 {
        font-size: 1rem;
        margin-top: 0 !important;
    }
    .dolaczdorozgrywki .defaultbutton {
        width: auto !important;
    }
    #roomheader {
        height: 30%;
        width: 90%;
        padding-right: 5%;
        padding-left: 5%;
        padding-bottom: 0 !important;
    }
    #roomheader div h1 { 
        font-size: 1rem;
    }
    #roomheader div {
        width: 40%;
    }
    #roomheader div:nth-of-type(even) {
        width: 10%;
    }
    .roomteamimg {
        height: 15vw;
        width: 15vw;
    }
    .chatsum {
        width: 100%;
    }
    #display, #displaycontrols {
        width: 100%;
    }
    #displaycontrols {
        display: block;
    }
    .time-left {
        margin-right: 5vw;
    }
    #wiadomosci {
        width: 70%;
    }
    #sendmess {
        font-size: 1.1em;
        padding: 10px;
        line-height: 1.2em;
        width: 25%
    }
    .messindeed {
        font-weight: 300;
        font-size: .7em;
        padding-right: 5vw;
    }
    #summary {
        padding-top: 0 !important;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 3vh !important;
    }
    .teammenu {
        margin-top: 4vh;
    }
    #summary h2{
        margin-top: 1vh;
        font-size: 1.3rem;
    }
    .creatorname {
        width: 100%;
    }
    #summary h4{ 
        font-size: 1.1rem;
    }
    .flexform {
        margin-bottom: 10vh !important;
    }
    .rezultatbutton {
        margin-top: 1vh;
        margin-bottom: 6vh;
    }
  }