@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    background-color: #101319;
}
html {
    overflow-x: hidden !important;
}
.ovflow-hidden {
    overflow-y: hidden;
}
#container {
    width: 85vw;
    margin-left: 15vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: inherit;
}
#page1, #page2, #page3, #page4 {
    font-size: 3.2rem;
    padding-top: 10vh;
    padding-left: 10vh;
    height: 90vh;
    width: 100%;
    line-height: 1.25em;
    color:black;
    text-shadow: 1px 0px 3px rgba(0, 0, 0, 1);
    scroll-snap-align: center;
}

#page1 h1,#page1 h3,#page1 h5 {
    margin-bottom: 2vh;
    margin-top: 0;
}
#page1 h5 { 
    line-height: 1rem;
}
#mobilemenu, #mobilenav {
    display: none;
}
#page2, #page3, #page4 {
    position: relative;
    background-color: rgba(0, 0, 0, 0.52);
    text-shadow: 1px 0px 3px white;
    color: white;
    font-size: 1.5rem;
}
.header {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1rem !important;
    letter-spacing: .3rem;
    background-color: #ff2138;
    padding: 1vh 2vh 1vh 3vh;
    margin-bottom: 3vh;
}
.color_red {
    color: #ff2138;
    text-shadow: 1px 0px 3px #ff2138;

}
#container_bc {
    position: absolute;
    top: 0;
    left: 10vw;
    width: 90vw;
    min-height: 100vh;
    background-image: url("https://i.redd.it/zyipc46j76r41.gif");
    z-index: -1;
}
* {
    font-family: 'Poppins', sans-serif;
}
#side_menu {
    border-right: 1px solid rgb(74, 74, 74);
    width: 13vw;
    height: calc(100vh - 2vw);
    position: fixed;
    background-color: #fff;
    padding-left: 2vw;
    padding-top: 2vw;
    transition: all .2s;
    z-index: 33;
    
}
.black {
    background-color: #101319 !important;
    color: white !important
}
.black h2::before {
    background-color: white !important;
}
#side_menu div { 
    position: fixed;
    bottom: 2vw;
}
#side_menu h2 {
    display:table;
    position: relative;
}
#side_menu img {
    width: 11vw;
    height: 17vh;
}
#side_menu h2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
#side_menu h2:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
h1, h2, h3, h4, h5{
    text-transform: uppercase;
}
.play {
    padding: 2vh 4vh 2vh 4vh ;
    color: #ffff;
    background-color: #fe4554;
    margin-top: 45vh;
    border: none;
    /* border-radius: 30px; */
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 2.3rem;
    font-weight: bold;
    transition: all .2s;
}
.play:hover { 
    background-color: #8d1f2ccc;
}
a {
    display: block;
}
#tournaments-list {
    position: relative;
    background-color: #101319;
    width: 70vw;
    height: 82%;
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    }
#tournaments-list-more { 
    display: block;
    color: #ffff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2vh 4vh 2vh 4vh;
    width: 95%;
    margin-top: 4vh;
    margin-left: 2%;
    margin-right: 2%;
    background-color: transparent;
    border: 5px solid #ff2138;
    text-transform: uppercase;
    /* background-color: #ff2138; */
    transition: all .3s ;
}

#tournaments-list-more:hover { 
    background-color: #ff2138;
}
/* #tournaments-list-more::before {
    content: "D";
    user-select: none;
    color: #ff2138;
    top: 0;
    padding: 2vh 4vh 2vh 4vh;
    background-color: #ff2138;
    position: absolute;
    right: -50vw;
    width: 50vw;
} */
.tournament-card {
    display: block;
    margin-top: 2vh;
    position: relative;
    background-color: #10131994;
    width: 31%;
    height: 75%;
    text-align: center;
    text-transform: uppercase;
    margin-right: .5vw;
    margin-left: .5vw;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid white;
    transition: all .2s;
}
.tournament-card:hover { 
    background-color: #1b212c;
}
.tournament-card span { 
    letter-spacing: .5em;
    font-size: 1rem;
    font-weight:400;
    margin-bottom: .3vh;
}
.register-form div label{ 
    text-align: left;
    width: 10vw;
}
.register-form div:nth-of-type(4) {
  
  flex-basis: 50%;

}

.register-form div {
    margin-bottom: 1vh;
    display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
align-content: center;
}
.register-form div input{ 
    margin-left: .5vw;
    width: 15vw;
}
.register-form div textarea{ 
    margin-left: .5vw;
    height: 9em;
    width: 15vw;
}

.tournament-card img{ 
    width: 80%;
    height: 50%;
    object-fit: cover;
    margin-top: 10%;
    margin-bottom: .5vh;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid white;
}
.player-card img {
    height: 60% !important;
    
    border: 1px solid white;
}
.tour-info {
    position: absolute;
    bottom: .5vh;
    left: 50%;
    transform: translate(-50%, 0);
}
.tournament-card button{  
    padding: 1vh 3vh 1vh 3vh ;
    color: #ffff;
    background-color: #ff2138;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid white;
    font-weight: 400;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 1vh;
    transition: all .2s;
}

.tournament-card button:hover{  
    background-color: #ff21387e;
}
#teams-list {
    position: relative;
    background-color: #101319;
    width: 70vw;
    height: 82%;
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}
#players-list {
   position: relative;
    background-color: #101319;
    width: 70vw;
    height: 82%;
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

/* ----------------------------------------- TOURNAMENT LIST ----------------------------------------- */
/* ----------------------------------------- TOURNAMENT LIST ----------------------------------------- */
/* ----------------------------------------- TOURNAMENT LIST ----------------------------------------- */
.pchide {
    display: none;
}
.tournament-list-container {
    background-repeat: no-repeat;
    background-size: auto 100vh;
    background-image:linear-gradient(0deg, #101319 0%, #101319 40%, #101319a3 75%, rgba(255, 255, 255, 0) 100%), url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fc6bc1f1-2870-4492-909c-29369011dcf6/dbe3pcs-b7529486-a8d6-4673-8134-e172799bb4b3.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2ZjNmJjMWYxLTI4NzAtNDQ5Mi05MDljLTI5MzY5MDExZGNmNlwvZGJlM3Bjcy1iNzUyOTQ4Ni1hOGQ2LTQ2NzMtODEzNC1lMTcyNzk5YmI0YjMuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.rTk1y6ZoZoe2S5AiewuRUlXP60m98K75256NeQ25RQM"); /* W3C */
    width: 85vw;
    margin-left: 15vw;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #101319;
}
#turnieje-list {
    width: 100%;
    height: auto;
    margin-top: 50vh;
    padding-left: 10vh;
    color: white;
    font-size: 1.5rem;
}
#turnieje-list-header {
    padding-left: 3vh;
background: linear-gradient(90deg, rgba(254,69,84,1) 0%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 100%);
letter-spacing: .3rem;

border-top-left-radius: 10px;
border-bottom-right-radius: 10px;
}
#turnieje-list-container {
    margin-top: 4vh;
}
#turnieje-list-container img {
    width: 16%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.turnieje-list-object {
    padding: .5vw;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    margin-bottom: 3vh;
    height: 20vh;
    transition: all .2s ;
}
.turnieje-list-object:hover {
    background-color: #1b212c;
}

.tournament-list-object-box {
    margin-left: 1vw;
}
.tournament-list-object-box span{
letter-spacing: .2em;
    font-size: 1rem;
    font-weight:400;
    margin-bottom: .3vh;
    color: #acb2c3;
}
.bold {
    font-weight: bold !important;
}
.nooverflow {
    overflow: hidden !important;
}
/* ----------------------------------------- TOURNAMENT DETAIL ----------------------------------------- */
/* ----------------------------------------- TOURNAMENT DETAIL ----------------------------------------- */
/* ----------------------------------------- TOURNAMENT DETAIL ----------------------------------------- */
.contactcontainer {
    background: #101319 !important;
}
.tournament-detail-container {
    background-repeat: no-repeat;
    background-size: auto 100vh;
    width: 85vw;
    margin-left: 15vw;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #101319;
}
#contactinner-wrapper {
    width: auto;
    height: 20vh;
    margin-top: 7vh;
    padding-right: 10%;
    padding-left: 5vw;
    color: white !important;
    font-size: 1.5rem;
}
#whitecontact {
    width: 100%;
    position: absolute;
    top: 20vh;
    left: 15vw;
    height: 75vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vh;
    background-color: #ebe7e1;
    color: black;
}
#inner-wrapper {
    width: auto;
    height: auto;
    margin-top: 55vh;
    padding-right: 10%;
    padding-left: 10%;
    color: white !important;
    font-size: 1.5rem;
}
#inner-wrapper h1{ 
    letter-spacing: 0.1rem;
}
#name {
    margin-top: 7vh;
    width: 70%;
}
.tour-button {
    margin-top: 3vh;
}
.runda {
    text-align: center;
    width: 16vw;
}
.grayed {
    color: rgb(174, 174, 174);
    letter-spacing: 0.1rem;
}
#tournament-nav {
    margin-top: 1vh;
    border-top: 1px solid rgb(174, 174, 174);
    overflow: auto;
}
#tournament-nav p{
    float: left;
    margin-right: 7%;
    letter-spacing: 0rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: #95acda;
}
.active_nav {
    color: white !important;
}
#wybor_druzyn {
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50vw;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    transition: all .5s ease;
    background-color: #101319;
    color: white;
    overflow: hidden;
    z-index: 40;
    border-radius: 40px;
}
#rozpocznij {
    margin-top: 0vh !important;
    margin-right: 1vw;
}
#refresh-btn {
    margin-top: 0 !important;
}
.dbstatic {
    position: absolute;
    transform: translate(-50%, 0);
    bottom: 5vh;
    left: 50%;
}
#close {
    cursor: pointer;
    position: absolute;
    top: 2.1rem;
    font-size: 1.4rem;
    right: 2.1rem;
}
#wybor_druzynbc {
    z-index: 35;
    position: absolute;
    top: 0;
    left: -15vw;
    width: 100vw;
    height: 100vh;
    background-color: #00000000;
    pointer-events: none;
}
.blacked {
    height: 1000vh !important;
    background-color: #000000ad !important;
}
.float-right {
    margin-left: auto;
    float: right;
}
.dblarge {
    margin-bottom: 0 !important;
    font-size: 1.6rem !important;
    margin-top: -3vh !important;
    display: inline;
    float: right;
    padding-bottom: 3vh;
}
.float-left {
    float: left;
}
.clear {
    clear: both;
}

#tournament-content {
    margin-top: 10vh;
}
#tournament-content-detailed {
    margin-top: 10vh;
    background-color: #101319;
    overflow-x: hidden !important;
}
#tablecont {
    overflow-y: hidden !important;
    overflow-x: auto !important;
    margin-bottom: 10vh;
}

/* ----------------------------------------- PLAYERS LIST ----------------------------------------- */
/* ----------------------------------------- PLAYERS LIST ----------------------------------------- */
/* ----------------------------------------- PLAYERS LIST ----------------------------------------- */
#players-list-container {
    background-attachment: fixed;
    background-position: top right;
    background-size: cover;
    background-image:linear-gradient(0deg, #101319 0%, #101319 20%, #101319a3 65%, rgba(255, 255, 255, 0) 100%), url("https://d2n34pb7vz7boc.cloudfront.net/images/backgrounds/stories.jpg"); 
}
#teamdetailcontainer {
    
    background-attachment: fixed;
    background-position: top right;
    background-size: cover;
}
#teams-list-container {
    background-attachment: fixed;
    background-position: top right;
    background-size: cover;
    background-image:linear-gradient(0deg, #101319 0%, #101319 20%, #101319a3 65%, rgba(255, 255, 255, 0) 100%), url("https://www.thetimes.co.uk/imageserver/image/%2Fmethode%2Ftimes%2Fprod%2Fweb%2Fbin%2Fdc203072-5954-11ed-962f-53da0c787308.jpg?crop=3052%2C1717%2C471%2C978"); 
}
.players-list-div {
    width: auto;
    height: auto;
    padding: 2vh 1% 2vh 1%;
    border-bottom: 1px solid #2f384c;
}
ol {
    padding-left: 0;
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
    color: #b0c0df;
}
li {
    display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
align-items: center;
align-content: center;
}
body {
    counter-reset: section;
    }
li span::before {
    counter-increment: section; 
    content: counter(section) ". "; 
    color: white;
}
li img {
    height: 4vh;
    width: auto;
    border-radius: 9999px;
    margin-right: 1%;
    margin-left: 1%;
}
#player-nav {
    margin-top: 2vh;
    border-top: 1px solid rgb(174, 174, 174);
    overflow: auto;
}
.gold {
    background-color: rgba(255, 227, 68, 0.553);
    color:white;
}
.silver {
    background-color: rgba(192, 192, 192, 0.367);
    color:white;
}
.bronze {
    background-color: rgba(139,69,19, 0.219);
    color:white;
}
#player-inner-wrapper {
    width: auto;
    height: auto;
    margin-top: 35vh;
    padding-right: 10%;
    padding-left: 10%;
    color: white !important;
    font-size: 1.5rem;
}
.teamdetail-inner-wrapper {
    width: auto;
    height: auto;
    margin-top: 35vh;
    padding-right: 10%;
    padding-left: 10%;
    color: white !important;
    font-size: 1.5rem;
}
.teamdetail-inner-wrapper .profile-menu h1 {
    margin-left: 0 !important;
}
#zmiany {
    margin-top: 10vh;
    margin-bottom: 2vh;
    text-align: center;
}
.index-personal {
    font-size: 1rem;
}
.index-personal-points {
    font-size: 1.3rem;
    color: #31e4ff; 
}
.index-team-points {
    font-size: 1.3rem;
    color: #31e4ff;
    position: absolute;
    bottom: .5vh;
    left: 50%;
    transform: translate(-50%, 0);
}
.team-detail-img {
}
/* ------------------------------- */
/* --------- profil -------------- */
/* ------------------------------- */

.player-detail-container {
    background-repeat: no-repeat;
    background-size: auto 100vh;
    width: 85vw;
    margin-left: 10vw;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(0deg, rgba(16,19,25,1) 17%, rgba(31,31,31,1) 74%);
}
.team-detail-container {
}
.playerinner-wrapper {
    margin-top: 10vh !important;
    font-size: 1.2em !important;
    padding-left: 5vw !important;
    padding-right: 5vw !important;
}

.playerinner-wrapper img { 
    animation-duration: 1s;
    height: 20vh;
    width: 20vh;
    object-fit: contain;
    border-radius: 9999px;
    margin-right: 1%;
    margin-left: 1%;
    float: left;
    margin-bottom: 6vh;
}
.playerinner-wrapper h1 {
    text-transform: none !important;
    float: left;
    margin-left: 3%;
    margin-top: 0%;
    margin-bottom: 0%;
}
.hnomb {
    margin-bottom: 0;
}
.hnomb2 {
    margin-top: 10vh;
}
.zapisana_druzyna {
    
    letter-spacing: 0.1rem;
    color: #ff2138;
}
.playerinner-wrapper p {
    text-transform: none !important;
    float: left;
    margin-left: 3%;
    margin-top: 0%;
    margin-bottom: 0%;
    letter-spacing: 0.1rem;
    color: #ff2138;
}
.playerinner-wrapper hr {
    clear: both;
}
.playerinner-wrapper .grayed{
    margin-left: 3%;
    float: left;
}
#profile-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
.profile-menu div {
    font-weight: bold;
    float: left;
    font-size: 1.3rem;
    transition: all .1s ease;
    width: auto;
    height: auto;
    padding: 2vh;
    padding-bottom: 1vh;
    margin-bottom: 1vh;
    padding-top: 1vh;
    color: rgba(255, 255, 255, 0.58);
    margin-right: 1vh;
    margin-left: -2vh;
    border-radius: 10px;
    letter-spacing: .1rem;
    transition: .1s all;
}
.profile-menu div:hover {
    color: white;
}
.create_tournamentbc {
    background-color: #ebe7e1;
}
.profile-menu {
    clear:both;
    height: 1.5rem;
    width: 100%;
    margin-bottom: 2vh;
}
.profile-info {
    font-size: 1.4rem;
    color: rgb(174, 174, 174);
    margin-top: 1vh;
}
.profile-info span { 
    margin-left: .5vw; 
}
.jakas {
    letter-spacing: 0 !important;
    padding: 1vh 2vh 1vh 2vh !important;
    color: #ffff !important;
    background-color: #ff2138 !important;
    border: none;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    margin-right: 0vh !important;
    float: right !important;
    font-size: 1.4rem;
    font-weight: bold;
    transition: .2s all ;
}

.jakas:hover { 
    background-color: #ff21387e !important;
}
.jakas p{
    margin-left: 0 !important;
}
.profile-teams {
    width: 100%;
    margin: 0 !important;
    margin-top: 10vh !important;
    margin-bottom: 1vh !important;
    display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: flex-end;
align-content: flex-end;
}
#logininner-wrapper {
    text-align: center;
    color: white;
    width: auto;
    height: auto;
    margin-top: 13vh;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 1.3rem;
    background-color: #101319cd;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
.nol {
    letter-spacing: 0 !important;
}
.defaultbutton{  
    padding: 1vh 3vh 1vh 3vh ;
    color: #ffff;
    background-color: #ff2138;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 400;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 1vh;
    transition: all .2s;
    margin-top: 5vh;
}

.defaultbutton:hover{  
    background-color: #ff21387e;
}
#logininner-wrapper h1 {
    margin-bottom: 0;
}

.login-form {
    margin-top: 5vh;
}
select {
    padding: 5px;
    font-size: 1.6rem;
    border-width: 0px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 1px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
.login-form input {
    padding: 5px;
    font-size: 16px;
    border-width: 0px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 1px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
.register-form input {
    padding: 5px;
    font-size: 16px;
    border-width: 0px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 1px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
.login-form input:focus {
    outline:none;
}
#registerinner-wrapper {
    text-align: center;
    color: white;
    width: auto;
    height: auto;
    margin-top: 7vh;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 1.3rem;
    background-color: #101319cd;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
.nomt {
    margin-top: 1vh !important;
}
#login-container-video {
    position: fixed;
    left: 8vw;
    bottom: 0;
    min-width: 92%;
    min-height: 100%;
    z-index: -3;
  }
.ifcaptain {
    margin-left: 0 !important;
}
.create_team {
    margin-right: 0 !important;
}
.playerinner-wrapper li img {
    height: 7vh !important;
    width: auto !important;
    border-radius: 9999px !important;
    margin-right: 1% !important;
    margin-left: 1% !important;
    margin-bottom: 0 !important;
}
.player-detail-container li span::before {
    counter-increment: a !important; 
    content: ""; 
    color: white;
}
.bio {
    letter-spacing: 0 !important;
}
.playerinner-wrapper li .crown {
    border-radius: 0 !important;
    height: 1.3em !important;
}
table {
    margin-top: 5vh;
    height: 90vh;
    width: 200vw;
    overflow-x: scroll !important;
}
.kolumna {
    display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
align-content: flex-start;
height: 100%;
}
.drabinka {
    height: 100%;
    display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
align-items: flex-start;
align-content: flex-start;
}

.kolumna-mecze {
    margin-right: 5vw;
    display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-around;
align-items: flex-start;
align-content: flex-start;
height: 100%;
}
.mecz div {
    font-size: 1.2rem;
    width: 80%;
    float: left;
}
.mecz .meczwynik {
    width: 20% !important;
}
.team1 {
    border-bottom: 1px solid white;
    padding-bottom: 1vh;
}
.team2 {
    padding-top: .5vh;
}
.meczwynik {
    text-align: right;
}
.mecz {
    width: 16vw;
    position: relative;
    background-color: #272f3c;
    border-radius: 0.8rem;
    padding: 2vh;
    padding-bottom: 1vh;
    padding-top: 1vh;
}
.mecz::before {
    position: absolute;
    top: calc(50% - 1px);
    right: -2.5vw;
    content: "";
    width: 2.5vw;
    height: 1px;
    background-color: #fff;
}
.mecz {
    height: 8vh;
    /* do wywalenia */
}
.extraround .mecz:nth-of-type(even) span {
    position: absolute;
    top: -5% !important;
    right: -2.5vw;
    content: "";
    width: 1px;
    height: calc(5.5vh * 1) !important;
    background-color: #ffffff !important;
}
.extraround .mecz:nth-of-type(odd) span {
    position: absolute;
    top: calc(50% - 1px) !important;
    right: -2.5vw;
    content: "";
    width: 1px;
    height: calc(5.5vh * 1) !important;
    background-color: #ffffff !important;
}
.firstround .mecz:nth-of-type(odd) span {
    position: absolute;
    top: calc(50% - 1px);
    right: -2.5vw;
    content: "";
    width: 1px;
    height: calc(12vh * 1);
    background-color: #fff;
}
.secondround .mecz:nth-of-type(odd) span {
    position: absolute;
    top: calc(50% - 1px);
    right: -2.5vw;
    content: "";
    width: 1px;
    height: calc(10.75vh * 2);
    background-color: #fff;
}
.secondround .mecz:nth-of-type(even) span {
    position: absolute;
    top: calc(83% * -2);
    right: -2.5vw;
    content: "";
    width: 1px;
    height: calc(10.8vh * 2);
    background-color: #ffffff;
}
.firstround .mecz:nth-of-type(even) span {
    position: absolute;
    top: calc(50% * -1);
    right: -2.5vw;
    content: "";
    width: 1px;
    height: calc(10vh * 1);
    background-color: #fff;
}
.thirdround .mecz:nth-of-type(odd) span {
    position: absolute;
    top: calc(50% - 1px);
    right: -2.5vw;
    content: "";
    width: 1px;
    height: calc(10vh * 3);
    background-color: #fff;
}
.thirdround .mecz:nth-of-type(even) span {
    position: absolute;
    top: calc(118% * -2);
    right: -2.5vw;
    content: "";
    width: 1px;
    height: calc(9.5vh * 3);
    background-color: #ffffff;
}
.mecz::after {
    position: absolute;
    top: calc(50% - 1px);
    left: -2.6vw;
    content: "";
    width: 2.6vw;
    height: 1px;
    background-color: #fff;
}
/* .mecz:nth-child(odd)::pseudo-element {
    position: absolute;
    top: calc(50% - 1px);
    left: -2.5vw;
    content: "";
    width: 2.5vw;
    height: 1px;
    background-color: #fff;
} */
.final::before, .firstround .mecz::after, .final span, .extraround .mecz::after{
    display: none;
  }
#additionalbc {
    background-image:linear-gradient(0deg, #101319 0%, #101319 40vh, #101319a3 65vh, rgba(255, 255, 255, 0) 100vh);
    position: absolute;
    width: 85vw;
    height: 100vh;
    background-position: top;
    left: 15vw;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #101319 #272f3c;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #272f3c;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #101319;
    border-radius: 14px;
    border: 2px solid #5e5e5e;
  }