{% extends 'frontend/base.html' %}

{% block content %}
    <div id="container" class="player-detail-container contactcontainer">
        <div id="contactinner-wrapper">
            <h1>Kontakt</h1>
            <div id="whitecontact">
                <h3>Dane kontaktowe</h3>
                <hr>
                Email: rankup@gmail.com
                <br>
                Telefon: +48 123 456 789
                <form method="post" action="mailto:filip.antoniak99@gmail.com" enctype="text/plain">
                    <h3>Napisz do nas</h3>
                    <hr>
                    <label for="subject">Temat:</label><br>
                    <input type="text" name="subject" id="subject" required><br>
                    
                    <label for="message">Wiadomość:</label><br>
                    <textarea name="message" id="message" required></textarea><br>
                  
                    <input class="defaultbutton" type="submit" value="Wyślij">
                  </form>
            </div>
        </div>
    </div>
 
{% endblock %}