{% extends 'frontend/base.html' %}

{% block content %}
<div id="container">
    <div id="page1">
        <div id="container_bc"></div>
        <h1><span class="color_red">rank<img class="intitleimg" src="https://i.ibb.co/YhSCzFb/logo2.png" alt=""></span></h1>
        <h3>graj, <span class="color_red">rozwijaj się</span></h3>
        <h3>zwyciężaj</h3>
        <button class="play"><a href="{% url 'tournament_list_site' %}">Wejdź do gry</a></button>
    </div>
    
    <div id="page2">
        <div class="header"><h1>Turnieje</h1></div>

        <div id="tournaments-list">
            {% for tournament in tournaments %}
                <a class="tournament-card {% if forloop.counter > 1 %}mobilehide{% endif %}" href="{% url 'tournament_site' tournamentname=tournament.nazwa%}">
                    <img src="{{ tournament.zdjecie.url }}" alt=""><br>{{ tournament }} 
                    {% if tournament.started == True %}<div class="zapisana_druzyna smallgreen betterg green">Turniej trwa</div>{% endif %}
                    <div class="tour-info">
                        
                        <button>Szczegóły</button>
                        <span>{{ tournament.data }}</span> 
                    </div>
                </a>
            {% endfor %}
            <a id="tournaments-list-more" href="{% url 'tournament_list_site' %}">
                Zobacz wszystkie turnieje
            </a>
        </div>
    </div>
    <div id="page3">
        <div class="header"><h1>Top gracze</h1></div>

        <div id="players-list">
            {% for player in players %}
            <a class="tournament-card player-card {% if forloop.counter > 1 %}mobilehide{% endif %}" href="#">
                {% if player.avatar %}
                <img src="{{ player.avatar.url }}" alt="">
                {% else %}
                <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="">
                {% endif %}
                <br>{{ player }} <br>
                <div class="index-personal grayed">{{ player.imie }} {{ player.nazwisko }}</div>
                <div class="index-personal grayed">{{ player.nick }}</div>
                <div class="index-team-points">{{ player.punkty }} punktów</div>
                <div class="tour-info">
                    <span>{% for team in player.druzyna.all|slice:":1" %}{{ team }}{% endfor %}</span> 
                </div>
            </a>
        {% endfor %}
        <a id="tournaments-list-more" href="{% url 'player_list_site' %}">
            Zobacz ranking najlepszych
        </a>
        </div>
    </div>  
    <div id="page4">
        <div class="header"><h1>Top drużyny</h1></div>
       
        <div id="teams-list" class="mobileteamslist">
            {% for team in teams %}
            <a class="tournament-card player-card {% if forloop.counter > 1 %}mobilehide{% endif %}" href="#">
                {% if team.zdjecie %}
                <img src="{{ team.zdjecie.url }}" alt="">
                {% else %}
                <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="">
                {% endif %}
                <br>{{ team }} <br>
                <div class="index-personal grayed">{{ team.creator }}</div>
                <!-- <div id="index-personal" class="grayed">{{ player.imie }} {{ player.nazwisko }}</div>
                <div class="tour-info">
                    <span>{% for team in player.druzyna.all|slice:":1" %}{{ team }}{% endfor %}</span> 
                </div> -->
                <div class="index-team-points">{{ team.punkty }} punktów</div>
            </a>
            {% endfor %}
            <a id="tournaments-list-more" href="{% url 'team_list_site' %}">
                Zobacz ranking najlepszych
            </a>
        </div>
    </div>
    </div>
    <script>
        let container = document.getElementById("container");
        let side_menu = document.getElementById("side_menu");
        side_menu.classList.remove("black")
        container.onscroll = function (e) {
            if (container.scrollTop > 300)  {
                side_menu.classList.add("black")
            } else {
                side_menu.classList.remove("black")
            }
        };
    </script>
{% endblock %}