{% extends 'frontend/base.html' %}

{% block content %}
    <div id="players-list-container" class="tournament-detail-container">
        <!-- ZAWARTOSC -->
        <div id="player-inner-wrapper">
            <h1 id="name" class="float-left najlepszedruzyny">Najlepsi gracze</h1>
            <div class="clear"></div>
            <div id="player-nav"></div>
            <div id="tournament-content">
                <ol>
                    {% for player in players %}
                    <a href="{% url 'player_site' playernick=player.nick %}"><div class="players-list-div"><li><span></span>
                        {% if player.avatar %}<img src="{{ player.avatar.url }}" alt="">{% else %}<img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="">{% endif %}
                        <div>{{ player.nick }}</div><div class="float-right">{{player.punkty}}pkt</div></li></div></a>
                    {% endfor %}
                </ol>
            </div>
            <br><br>
        </div>
    </div>

{% endblock %}