{% extends 'frontend/base.html' %}

{% block content %}
    <div id="container" class="player-detail-container">
        <div id="inner-wrapper" class="playerinner-wrapper">
            {% if player.avatar %}<img src="{{ player.avatar.url }}" alt="">{% else %}<img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="">{% endif %}
            <div id="profile-flex">
                <h1  class="creatorname">{{ player.nick }}</h1>
                <p>{{ player.first_name }} {{ player.last_name }}</p>
                <div class="grayed bio">{{ player.opis }}</div>
            </div>
            <div class="profile-menu"><div class="active_nav">Info</div>
                {% if user == player %}
                    <div class="jakas"><a href="{% url 'settings' %}">Ustawienia</a></div>
                    {% else %}
                    <div class="jakas">Zgłoś gracza</div>
                    {% endif %}
            </div> 
            <hr class="firsthr">
            <div class="profile-info">
                <div>Email: <span>{{ player.email }}</span></div>
                <div>Ranking:  <span>{{ player.punkty }}pkt</span></div>
            </div>
            <h1 class="profile-teams">Turnieje{% if user.is_authenticated %}{% if user == player %}<a href="{% url 'create_tournament' %}"><span class="jakas create_team">Stwórz turniej</span></a>{% endif %}{% endif %}</h1>
            <hr>
            
            
            <h1 class="profile-teams">Drużyny{% if user.is_authenticated %}{% if user == player %}<a href="{% url 'create_team' %}"><span class="jakas create_team">Stwórz drużynę</span></a>{% endif %}{% endif %}</h1>
            <hr>
            {% if team %}
                <h3>Kapitan</h3>
                <hr>
                <ol>
                    {% for t in team %}
                    <a href="{% url 'team_site' teamname=t.nazwa %}"><div class="players-list-div"><li><span></span>
                    {% if t.zdjecie %}<img src="{{ t.zdjecie.url }}" alt="">{% else %}<img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="">{% endif %}
                    <div>{{ t }}</div><div class="float-right">123pkt</div></li></div></a>
                    {% endfor %}
                </ol>
            {% else %}
                {% if user == player %}
                <p class="ifcaptain">Nie jesteś kapitanem żadnej drużyny</p><br>
                {% else %}
                <p class="ifcaptain">Użytkownik nie jest kapitanem żadnej drużyny</p><br>
                {% endif %}
            {% endif %}
            {% if team_member %}
            <h3>Członek</h3>
            <hr>
            <ol>
            {% for team in team_member %}
                <a href="{% url 'team_site' teamname=team.nazwa %}"><div class="players-list-div"><li><span></span>
                {% if team.zdjecie %}<img src="{{ team.zdjecie.url }}" alt="">{% else %}<img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="">{% endif %}
                <div>{{ team }}</div><div class="float-right">123pkt</div></li></div></a>
            {% endfor %}
            </ol>
            {% else %}
            <p class="ifcaptain">Użytkownik nie należy żadnej drużyny</p><br>
            {% endif %}



            
            <h1 class="profile-teams">Statystyki</h1>
            <hr>
        </div>  
    </div>
    
{% endblock %}
