{% extends 'frontend/base.html' %}

{% block content %}
    <div id="container" class="player-detail-container">
        <div id="inner-wrapper" class="playerinner-wrapper">
            {% if player.avatar %}<img src="{{ player.avatar.url }}" alt="">{% else %}<img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="">{% endif %}
            <div id="profile-flex">
                <h1>{{ player.nick }}</h1>
                <p>{{ player.first_name }} {{ player.last_name }}</p>
                <div class="grayed">Bronze IV</div>
                <div class="grayed">{{ player.opis }}</div>
            </div>
            <div class="profile-menu"><div class="active_nav">Info</div><div>Zaproś do drużyny</div><div>Statystyki</div>
                <div class="jakas">{% if user == player %}
                    <p><a href="{% url 'settings' %}">Ustawienia</a></p>
                    {% else %}
                    Zgłoś gracza
                    {% endif %}
                </div>
            </div> 
            <hr>
            <div class="profile-info">
                <div>Email: <span>{{ player.email }}</span></div>
                <div>Ranking:  <span>{{ player.punkty }} punkty</span></div>
                <div>Winrate: <span>100%</span></div>
            </div>
            <h1 class="profile-teams">Drużyny<a href="{% url 'create_team' %}" style="padding-left: 10px; border: 1px solid;">Stwórz drużynę</a></h1>
            <hr>
            {% if team %}
                <a href="{% url 'team_site' teamname=team.nazwa %}">{{team}}</a><br>
            {% else %}
                <p>Użytkownik nie jest kapitanem żadnej drużyny</p><br>
            {% endif %}
            {% if team_member %}
            {% for team in team_member %}
                <a href="{% url 'team_site' teamname=team.nazwa %}">{{team}}</a><br>
            {% endfor %}
            {% else %}
            <p>Użytkownik nie należy żadnej drużyny</p><br>
            {% endif %}



            
            <h1 class="profile-teams">Statystyki</h1>
            <hr>
        </div>  
    </div>
    <script>
           side_menu.classList.add("black")
    </script>
{% endblock %}
