{% extends 'frontend/base.html' %}

{% block content %}

<div id="container">
    {% if user.is_authenticated %}
        <h1>{{user.username}}</h1>
    {% else %}
        <h1>Main!</h1>
    {% endif %}

    <a href="{% url 'register' %}">Rejestracja</a><br>
    <a href="{% url 'login_web' %}">Logowanie</a><br>
    <a href="{% url 'main' %}">Main</a><br>

    <h1>Profile</h1>
    {{ form.instance.username }}<br>
    {{ form.instance.email }}<br>
    {{ form.instance.punkty }}<br>
    </div>  
{% endblock %}