{% extends 'frontend/base.html' %}

{% block content %}
<div id="container" class="roomcontainer">
    <div id="roomheader" class="room-main-header">
        <div>
            <h1>{{ druzynanr1 }}</h1>
            <img class="roomteamimg" src="{{ druzynanr1.zdjecie.url }}" alt="">
        </div> 
        <div><h1>VS</h1></div>
        <div>
            <h1>{{ druzynanr2 }}</h1>
            <img class="roomteamimg" src="{{ druzynanr2.zdjecie.url }}" alt="">
        </div>
    </div> 
    <div class="hroom">Pokój meczowy</div> 
   <div id="displayscontainer">
        <div class="chatsum">
        <div id="display"></div>
        <div id="displaycontrols">
            <form method="POST" id="post-form">
                {% csrf_token %}
                {{ form }}
                <input type="hidden" name="kapitan" id="kapitan" value="{{user.nick}}"/>
                <input type="hidden" name="nazwa_rozgrywki" id="nazwa_rozgrywki" value="{{room.nazwa_rozgrywki}}"/>
                <button class="defaultbutton" id="sendmess" type="submit">Wyślij</button>
            </form>
        </div></div>
        <div id="summary">
            <h2>Rezultat</h2>
            <h4>Wygrała:</h4>
            <form method="POST" id="post-winner" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="radio" name="winner" id="winner1" value="{{room.druzyna1}}" required>
                <label for="winner1">{{room.druzyna1}}</label><br>
                <input type="radio" name="winner" id="winner2" value="{{room.druzyna2}}" required>
                <label for="winner2">{{room.druzyna2}}</label><br>
                <input type="file" id="image-upload" name="image" required><br>
                <span class="grayed">*wprowadz dane i dodaj zrzut ekranu</span>
                <input type="hidden" name="druzyna" id="druzyna" value="{{druzyna}}"/>
                <input type="hidden" name="nazwa_rozgrywki" id="nazwa_rozgrywki" value="{{room.nazwa_rozgrywki}}"/>
                <button class="rezultatbutton defaultbutton" type="submit">Zatwierdź</button>
            </form>
        </div>
    </div>
</div>
<script>
    roomheader = document.getElementById("roomheader")
    roomheader.style.setProperty("background-image", `linear-gradient(to right, #00000080, #00000080), url('{{ turniej.zdjecie.url }}')` );
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
            var div = document.getElementById("display");
            div.scrollTop = div.scrollHeight - div.clientHeight;
</script>
<script>

$(document).ready(function(){
    var firstTime = true;

    setInterval(function(){
        $.ajax({
            type: 'GET',
            url : "/chat/messages/",
            data:{
                room: '{{room}}',
            },
            success: function(response){
                console.log(response);
                $("#display").empty();
                for (var key in response.messages)
                {
                    var dateObject = new Date(response.messages[key].date_added);
                    var options = {hour: '2-digit', minute: '2-digit'};
                    var timeString = dateObject.toLocaleTimeString([], options);
                    var temp="<div class='container darker'><br>"+"<div class='chatnav'><div class='chatheader'><img class='chatimg' src='{{ user.avatar.url }}'alt=''>"+"<b>"+response.messages[key].kapitan+"</b></div><span class='time-left'>"+timeString+"</span></div><p class='messindeed'>"+response.messages[key].wiadomosci+"</p></div>";
                    $("#display").append(temp);
                }
                if (firstTime) {
                    var div = document.getElementById("display");
                    div.scrollTop = div.scrollHeight - div.clientHeight;
                    firstTime = false
                }
            },
            error: function(response){
                alert('An error occured')
            }
        });
    },1000);

    $(document).on('submit','#post-form',function(e){
          e.preventDefault();

          $.ajax({
            type:'POST',
            url:'/send',
            data:{
                kapitan:$('#kapitan').val(),
                nazwa_rozgrywki:$('#nazwa_rozgrywki').val(),
                wiadomosci:$('#wiadomosci').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(data){
               //alert(data)
            }
          });
          document.getElementById('wiadomosci').value = ''
          firstTime=true
    });
});
</script>
<script>
    $(document).ready(function(){
  $('#post-winner').on('submit', function(e){
    e.preventDefault(); //zatrzymuje domyślne działanie formularza

    //tworzymy obiekt FormData, który będzie przechowywał dane formularza
    var formData = new FormData(this);

    $.ajax({
      type: 'POST',
      url: '/winner',
      data: formData,
      processData: false,
      contentType: false,
      success: function(response){
        //obsługa sukcesu
        console.log(response);
      },
      error: function(error){
        //obsługa błędów
        console.log(error);
      }
    });
  });
});
</script>
{% endblock %}
