{% extends 'frontend/base.html' %}

{% block content %}
<div id="container" style="color: white;">
    <h1>WITAJ W POKOJU {{room.nazwa_rozgrywki}}</h1>
    <div id="chat-messages">
        Napisz coś:
        {% for m in messages %}<b>{{ m.user.username }}</b>: {{ m.content }}<br>{% endfor %}
      
    </div>
    <form method="post">
        <input type="text" id="chat-messages-input" name="message">
        {% csrf_token %}
        <button id="chat-message-submit">Wyślij</button>
    </form>
</div>

{% endblock %}