{% extends 'frontend/base.html' %}

{% block content %}

<div id="container">
    {% if user.is_authenticated %}
        <h1>{{user.username}}</h1>
    {% else %}
        <h1>Main!</h1>
    {% endif %}

    <a href="{% url 'register' %}">Rejestracja</a><br>
    <a href="{% url 'login_web' %}">Logowanie</a><br>
    <a href="{% url 'main' %}">Main</a><br>

    <!-- form.instance.coś daje tekst tego co chcemy uzyskać np email a form.coś daje nam ten tekst w inpucie gotowy do zmiany -->

    <h1>Your profile</h1>
    {{ form.instance.email }}<br>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Update</button>
    </form>
    </div>  
{% endblock %}