{% extends 'frontend/base.html' %}

{% block content %}

<div id="container">
    <video autoplay muted loop id="login-container-video">
        <source src="/media/valorant.mp4" type="video/mp4">
      </video>
    <div id="registerinner-wrapper">
        <!-- form.instance.coś daje tekst tego co chcemy uzyskać np email a form.coś daje nam ten tekst w inpucie gotowy do zmiany -->

        <h1>{{ user }}</h1>
        <!-- {{ form.instance.email }}<br> -->
        <form class="register-form" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button class="defaultbutton" type="submit">Update</button>
        </form>
    </div> 
</div> 

{% endblock %}