{% extends 'frontend/base.html' %}

{% block content %}        
    <div id="container" class="player-detail-container team-detail-container">
        <div id="inner-wrapper" class="playerinner-wrapper teamdetail-inner-wrapper">
        <!-- ZAWARTOSC -->
        <!-- JEŚLI SIĘ ZALOGUJESZ NA KONTO ZAŁOŻYCIELA DRUŻYNY TO BĘDZIESZ MÓGŁ DODAWAĆ I USUWAĆ GRACZY -->
            {% if team.zdjecie %}<img src="{{ team.zdjecie.url }}" alt="">{% else %}<img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="">{% endif %}
            <div id="profile-flex">
                <h1>{{ team.nazwa }}</h1>
                <p class="creatorname"><a class="inline" href="{% url 'player_site' playernick=creator.nick %}">{{ creator.nick }}</a></p>
                <div class="grayed">{{ team.punkty }}pkt</div>
                <div class="grayed bio">{{ team.opis }}</div>
            </div>
            
        <div class="profile-menu teammenu"><h1>Skład</h1>
            {% if user.is_authenticated %}
            {% if user.email == creator.email %}
            <button id="show_teams" class="defaultbutton mobilehide sendrequest smallwidth">Zaproś graczy do drużyny</button>
            <button id="show_teamsmobile" class="pchide defaultbutton sendrequest smallwidth">Zaproś graczy do drużyny</button>
            {% else %}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" id="type" name="type" value="prosba">
                <input type="hidden" name="email" value="{{user.email}}">
                <input type="hidden" name="team" value="{{team.creator}}">
                <button class="defaultbutton sendrequest">Wyślij prośbę</button>
            </form>
            {% endif %}{% endif %}</div>
       
        <hr>
        <div class="profile-info">
            <a href="{% url 'player_site' playernick=creator.nick %}"><div class="players-list-div"><li><span></span>
                {% if creator.avatar %}<img src="{{ creator.avatar.url }}" alt="">{% else %}<img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="">{% endif %}
                <div>{{ creator.nick }}</div><img class="crown" src="https://cdn-icons-png.flaticon.com/512/6941/6941697.png" alt=""><div class="float-right">{{creator.punkty}}pkt</div></li></div></a>
            {% for player in team.remove_players.all %}
                <a href="{% url 'player_site' playernick=player.nick %}"><div class="players-list-div"><li><span></span>
                {% if player.avatar %}<img src="{{ player.avatar.url }}" alt="">{% else %}<img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="">{% endif %}
                <div>{{ player.nick }}</div><div class="float-right special"><div>{{player.punkty}}pkt</div>
                     <form method="post">
                    {% csrf_token %}
                    <input type="hidden" id="type" name="type" value="delete">
                    <input type="hidden" name="email" value="{{player.email}}">
                    {% if user.email == creator.email %}
                    <button class="defaultbutton" type="submit">Usuń z drużyny</button>
                    {% endif %}
                </form></div></li></div></a>
            {% endfor %}
        </div>
        <br>
        <br>
        {% if team.creator == user.email %}

            <h2 class="zaprh2">Zaproszenia</h2>
            {% for player in waiting_list.all %}
            <form class="anulujdiv" method="post">
                {% csrf_token %}
                <input type="hidden" id="type" name="type" value="cancel">
                <input type="hidden" name="email" value="{{player.email}}">
                <div class="zaproszeniecard">{% if player.avatar %}<img src="{{ player.avatar.url }}" alt="">{% else %}<img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="">{% endif %}
                <a href="{% url 'player_site' playernick=player.nick %}">{{ player.nick }}</a></div><button class="defaultbutton differentbutton" type="submit">Anuluj zaproszenie</button>
                
            </form><hr class="anhr">
            {% endfor %}
        {% endif %}
        <div>
            <h2>HISTORIA</h2>
            <hr>
            {% if history.count == 0 %}
            <div class="grayed noml">brak rozgrywek</div>
            {% endif %}
            {% for tournament in history.all %}
            <a href="{% url 'tournament_site' tournamentname=tournament.nazwa%}">
                <div class="turnieje-list-object proftour">
                    <img class="rect" src="{{ tournament.zdjecie.url }}" alt="">
                    <div class="tournament-list-object-box profbox">
                        <div><span class="bold">{{ tournament.data }}</span></div>
                        <div>{{ tournament }}</div>
                        <div><span>Hosted by {% for u in customuser %}{% if u.email == tournament.creator %}<b>{{ u.nick }}</b>{% endif %}{% endfor %} &#x2022; {{ tournament.format_rozgrywek}} &#x2022; {{ tournament.rodzaj_gry}} &#x2022; {{ tournament.nagroda}} </span></div>
                        {% if tournament.finished == True %}<div class="zapisana_druzyna smallgreen">Turniej zakończony</div>{% else %}{% if tournament.started == True %}<div class="zapisana_druzyna smallgreen green">Turniej trwa</div>{% endif %}{% endif %}
                    </div>
                </div></a>
            {% endfor %}
            <div class="spacer"></div>
        </div>
        <div id="wybor_graczybc"></div>
        <div id="wybor_druzyn">
            <div id="close">&#10060;</div>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" id="type" name="type" value="add">
                <label for="email"><h1 class="graczeinvite">Zaproś do drużyny</h1></label><br>
                <select class="select" name="email" >
                    {% for user in users %}
                        <option class="option" value="{{user.email}}">{{user.nick}}</option>
                    {% endfor %}
                </select>
                <button class="defaultbutton dbstatic biggersend" type="submit">Wyślij</button>
              </form>
        </div>
        <script>
            var wybor_druzynbc = document.getElementById("wybor_graczybc")
            var button = document.getElementById("show_teams")
            var buttonmobile = document.getElementById("show_teamsmobile")
            var body = document.getElementById("body")
            var wybor_druzyn = document.getElementById("wybor_druzyn");
            button.addEventListener("click", function() {
                wybor_druzyn.style.width = "25%";
                wybor_druzyn.style.height = "75%";
                wybor_druzyn.style.padding = "3.2rem";
                wybor_druzyn.style.transition = "all .5s ease";
                wybor_druzynbc.classList.add("blacked");
                body.style.overflow = "hidden";
            }); 
            buttonmobile.addEventListener("click", function() {
            wybor_druzyn.style.width = "69%";
            wybor_druzyn.style.height = "70%";
            wybor_druzyn.style.padding = "2.2rem";
            wybor_druzyn.style.transition = "all .5s ease";
            wybor_druzynbc.classList.add("blacked");
            body.style.overflow = "hidden";
        });
            var closex = document.getElementById("close");
            closex.addEventListener("click", function() {
                wybor_druzyn.style.width = "0";
                wybor_druzyn.style.height = "0";
                wybor_druzyn.style.padding = "0";
                wybor_druzyn.style.transition = "all .3s ease";
                wybor_druzynbc.classList.remove("blacked")
                body.style.overflow = "auto";
            });
        </script>
    </div>
</div>
{% endblock %}

<!-- CHYBA TRZEBA DODAĆ AJAXA BY SIĘ STRONA NIE ODŚWIEŻAŁA PO DODANIU GRACZA -->