{% extends 'frontend/base.html' %}

{% block content %}        
    <div id="container" class="player-detail-container team-detail-container">
        <div id="inner-wrapper" class="playerinner-wrapper teamdetail-inner-wrapper">
        <!-- ZAWARTOSC -->
        <!-- JEŚLI SIĘ ZALOGUJESZ NA KONTO ZAŁOŻYCIELA DRUŻYNY TO BĘDZIESZ MÓGŁ DODAWAĆ I USUWAĆ GRACZY -->
            {% if team.zdjecie %}<img src="{{ team.zdjecie.url }}" alt="">{% else %}<img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="">{% endif %}
            <div id="profile-flex">
                <h1>{{ team.nazwa }}</h1>
                <p>{{ team.creator }}</p>
                <div class="grayed">{{ punkty }}</div>
                <div class="grayed bio">{{ team.opis }}</div>
            </div>
            
        <div class="profile-menu"><h1>Skład</h1></div>
        <hr>
        <div class="profile-info">
            <a href="{% url 'player_site' playernick=creator.nick %}"><div class="players-list-div"><li><span></span>
                {% if creator.avatar %}<img src="{{ creator.avatar.url }}" alt="">{% else %}<img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="">{% endif %}
                <div>{{ creator.nick }}</div><img class="crown" src="https://cdn-icons-png.flaticon.com/512/6941/6941697.png" alt=""><div class="float-right">{{creator.punkty}}pkt</div></li></div></a>
            {% for player in team.players.all %}
                <a href="{% url 'player_site' playernick=player.nick %}"><div class="players-list-div"><li><span></span>
                {% if player.avatar %}<img src="{{ player.avatar.url }}" alt="">{% else %}<img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="">{% endif %}
                <div>{{ player.nick }}</div><div class="float-right">{{player.punkty}}pkt</div></li></div></a>
            {% endfor %}
        </div>

        {% if team.creator == user.email %}
            <h2>DODAJ GRACZA DO DRUŻYNY</h2>
            {% for user in users %}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" id="type" name="type" value="add">
                <input type="hidden" name="email" value="{{user.email}}">
                {{user.nick}} <button type="submit">ADD</button>
            </form>
            {% endfor %}

            <h2>USUŃ GRACZA Z DRUŻYNY</h2>
            {% for player in team.players.all %}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" id="type" name="type" value="delete">
                <input type="hidden" name="email" value="{{player.email}}">
                {{ player.nick }} <button type="submit">REMOVE</button>
            </form>
            
            {% endfor %}
                <select name="player" multiple>
                    {% for user in users %}
                        <option value="{{user.email}}">{{user.nick}}</option>
                    {% endfor %}
                </select>
                <br>
        {% endif %}
    </div>
</div>
<script>
    side_menu.classList.add("black")
</script>
{% endblock %}