{% extends 'frontend/base.html' %}

{% block content %}
    
    <div id="teams-list-container" class="tournament-detail-container">
        <div id="player-inner-wrapper">
            <h1 id="name" class="najlepszedruzyny float-left">Najlepsze drużyny</h1>
            <div class="clear"></div>
            <div id="player-nav"></div>
            <div id="tournament-content" class="druzynycontent">

                <ol>
                    {% for team in teams %}
                    <a href="{% url 'team_site' teamname=team.nazwa %}"><div class="players-list-div"><li><span></span>
                        {% if team.zdjecie %}<img src="{{ team.zdjecie.url }}" alt="">{% else %}<img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="">{% endif %}
                        <div>{{ team }}</div><div class="float-right">{{ team.punkty }}pkt</div></li></div></a>
                    {% endfor %}
                </ol>
            </div>
            <br><br>
        </div>
    </div>

{% endblock %}
