{% extends 'frontend/base.html' %}

{% block content %}
    <div class="tournament-list-container">
        <div id="turnieje-list">
            <div id="turnieje-list-header">
                <h1>TURNIEJE</h1>
            </div>
            <div id="turnieje-list-container">
                {% for tournament in tournaments %}
                <a href="{% url 'tournament_site' tournamentname=tournament.nazwa%}">
                <div class="turnieje-list-object">
                    <img src="{{ tournament.zdjecie.url }}" alt="">
                    <div class="tournament-list-object-box">
                        <div><span class="bold">10.02.2032</span></div>
                        <div>{{ tournament }}</div>
                        <div><span>Hosted by Acer &#x2022; Bo5 &#x2022; 5vs5 &#x2022; 5.000zł</span></div>
                    </div>
                </div></a>
                {% endfor %}
            </div>
        </div>
    </div>
    
  
{% endblock %}