<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div id="side_menu">
        <a href="{% url 'index' %}"><img src="https://i.ibb.co/Z8c6WrV/sa.png" alt=""></a>
        <a href="{% url 'tournament_list_site' %}"><h2>Turnieje</h2></a>
        <a href="{% url 'player_list_site' %}"><h2>Gracze</h2></a>
        <a href="{% url 'team_list_site' %}"><h2>Drużyny</h2></a>
        
        <a href="{% url 'contact_site' %}"><h2>Kontakt</h2></a>
        <div>
            <a href="{% url 'login_web' %}"><h2>Zaloguj się</h2></a>
            <a href="{% url 'register' %}"><h2>Zarejestruj się</h2></a>
        </div>
    </div>
    
    <div id="t-container" class="tournament-detail-container">
        <!-- ZAWARTOSC -->
        <div id="inner-wrapper">
            <h1 id="name" class="float-left">{{ tournament }}</h1><h1 class="float-right"><button>Weź udział</button></h1>
            <div class="clear"><span class="grayed bold">10.02.2032</span></div>
            <div><span class="grayed">Hosted by Acer &#x2022; Bo5 &#x2022; 5vs5 &#x2022; 5.000zł</span></div>
            <div id="tournament-nav"><p class="active_nav">DRABINKA</p><p>MECZE</p><p>REGULAMIN</p></div>
            <div id="tournament-content">
                <img src="https://media.istockphoto.com/id/1089779612/pl/wektor/drabinka-turniejowa-wektorowa.jpg?s=1024x1024&w=is&k=20&c=M911sQFndn9wcuyqMdjEj7BCXJ85nABXdYGYVUa7kg0=" alt="">
            </div>
        </div>
    </div>

    <script>
        container = document.getElementById("t-container")
        container.style.background = "linear-gradient(0deg, #101319 0vh, #101319 20vh, #101319a3 65vh, rgba(255, 255, 255, 0) 100vh), url({{ tournament.zdjecie.url }}) no-repeat"; /* W3C */
        container.style.backgroundSize = "auto 100vh";
        container.style.backgroundPosition = "top right";
        container.style.backgroundAttachment = "fixed";
        side_menu.classList.add("black")

    </script>
</body>
</html>
