{% extends 'frontend/base.html' %}

{% block content %}
    <div class="tournament-list-container">
        <div id="turnieje-list">
            <div id="turnieje-list-header">
                <h1>TURNIEJE</h1>
            </div>
            <div id="turnieje-list-container">
                {% for tournament in tournaments %}
                <a href="{% url 'tournament_site' tournamentname=tournament.nazwa%}">
                <div class="turnieje-list-object">
                    <img src="{{ tournament.zdjecie.url }}" alt="">
                    <div class="tournament-list-object-box">
                        <div><span class="bold">{{ tournament.data }}</span></div>
                        <div>{{ tournament }}</div>
                        <div><span>Hosted by {% for u in customuser %}{% if u.email == tournament.creator %}<b>{{ u.nick }}</b>{% endif %}{% endfor %} &#x2022; {{ tournament.format_rozgrywek}} &#x2022; {{ tournament.rodzaj_gry}} &#x2022; {{ tournament.nagroda}} </span></div>
                    </div>
                </div></a>
                {% endfor %}
            </div>
        </div>
    </div>
    
  
{% endblock %}