{% extends 'frontend/base.html' %}

{% block content %}
    <div id="t-container" class="tournament-detail-container">
        <!-- ZAWARTOSC -->
        <div id="additionalbc">
        <div id="inner-wrapper">
            <h1 id="name" class="float-left">{{ tournament }}</h1>
            
            <div class="clear"><span class="grayed bold">{{ tournament.data }}</span></div>
            <div class="grayed grayednav"><div class="tourdetails">Hosted by <b><a class="inline" href="{% url 'player_site' playernick=creator.nick %}">{{ creator.nick }}</a></b> &#x2022; {{ tournament.rodzaj_gry }} &#x2022; {{ tournament.format_rozgrywek }}  &#x2022; {{ tournament.nagroda }}</div>
                {% if tournament.started == False %}
                {% if zapisana_druzyna is not None %}
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="type" name="type" value="remove">
                    <input type="hidden" name="nazwa" value="{{zapisana_druzyna}}">
                    <div class="float-right tour-button"><button class="defaultbutton dblarge" type="submit">Zrezygnuj</button></div>
                </form>
                    
                {% else %}
                <div class="float-right tour-button pchide"><button id="show_teams" class="defaultbutton dblarge" data-teams="{{teams}}">Weź udział</button></div>
                <button id="show_teamsmobile" class="mobilehide defaultbutton dblarge" data-teams="{{teams}}">Weź udział</button> 
                {% endif %}{% endif %}
                {% if tournament.creator == user.email %}
                {% if tournament.started == True %}
                {% else %}
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" id="type" name="type" value="start">
                    
                    <button type="submit" id="rozpocznij" class="defaultbutton dblarge">Rozpocznij</button>
                    {% if zapisana_druzyna is None %}
                    
                    {% endif %}
                    {% endif %}
                </form>
            {% endif %}</div>
            {% if zapisana_druzyna %}<p class="zapisana_druzyna">Zapisano {{ zapisana_druzyna }}</p>{% endif %}
            {% if tournament.started %}<p class="zapisana_druzyna green">Turniej trwa</p>{% endif %}
            <div id="tournament-nav"></div>
            <div id="tournament-content-detailed">
                
            {% for rozgrywka in rozgrywki %}
            {% if rozgrywka.druzyna2 == zapisana_druzyna.nazwa or rozgrywka.druzyna1 == zapisana_druzyna.nazwa %}
                {% if rozgrywka.winner == None %}
                    <div class="dolaczdorozgrywki">
                    {{rozgrywka.druzyna1 }} - {{rozgrywka.druzyna2 }}
                    {% if rozgrywka.nazwa_rozgrywki %}
                        <a class="defaultbutton" href="{% url 'room' nazwa_turnieju=tournament.nazwa nazwa_rozgrywki=rozgrywka.nazwa_rozgrywki druzyna=zapisana_druzyna.nazwa %}"><h2>Idź do pokoju</h2></a>
                    {% endif %}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
                
                <h2 class="hnomb">Drużyny</h2>
                <div id="tournament-nav"></div>
                {% for team in tournament.druzyny.all %}
                    <a href="{% url 'team_site' teamname=team.nazwa %}"><div class="players-list-div"><li><span></span>
                    {% if team.zdjecie %}<img src="{{ team.zdjecie.url }}" alt="">{% else %}<img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="">{% endif %}
                    <div>{{ team }}</div><div class="float-right">123pkt</div></li></div></a>
                {% empty %}
                <p class="zapisana_druzyna">Bądź pierwszą drużyną, która weźmie udział</p>
                {% endfor %}

                <h2 class="hnomb2">Drabinka</h2>
                <button class="defaultbutton" id="refresh-btn">Odśwież</button>
                <div id="tournament-nav"></div>
                <!-- jesli nie ma rozgrywek -->

                {% if rozgrywki.all %}
                <div id="tablecont">
                <table>
                    <tr class="drabinka">
                        <td class="kolumna">
                            <div class="runda">Runda 1</div>
                            <div class="kolumna-mecze {% if rozgrywki|length > 8 %}extraround {% else %} firstround{% endif %}">
                                {% for rozgrywka in rozgrywki %}
                                    {% if rozgrywka.faza == 0 %}
                                    <div class="mecz">
                                        <div class="team1">{{ rozgrywka.druzyna1 }}</div>
                                        <div class="meczwynik team1">0</div>
                                        <div class="team2">{{ rozgrywka.druzyna2 }}</div>
                                        <div class="meczwynik team2">1</div>
                                        <span></span>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </td>
                        <td class="kolumna">
                            <div class="runda">Runda 2</div>
                            <div class="kolumna-mecze secondround">
                                {% for rozgrywka in rozgrywki %}
                                    {% if rozgrywka.faza == 1 %}
                                    <div class="mecz {% if rozgrywki|length < 5 %}final{% endif %}">
                                        <div class="team1">{{ rozgrywka.druzyna1 }}</div>
                                        <div class="meczwynik team1">0</div>
                                        <div class="team2">{{ rozgrywka.druzyna2 }}</div>
                                        <div class="meczwynik team2">1</div>
                                        <span></span>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </td>
                        {% if rozgrywki|length > 4 %}
                        <td class="kolumna">
                            <div class="runda">Runda 3</div>
                            <div class="kolumna-mecze thirdround">
                                {% for rozgrywka in rozgrywki %}
                                    {% if rozgrywka.faza == 2 %}
                                    <div class="mecz {% if rozgrywki|length < 9 %}final{% endif %}">
                                        <div class="team1">{{ rozgrywka.druzyna1 }}</div>
                                        <div class="meczwynik team1">0</div>
                                        <div class="team2">{{ rozgrywka.druzyna2 }}</div>
                                        <div class="meczwynik team2">1</div>
                                        <span></span>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </td>
                        {% endif %}
                        {% if rozgrywki|length > 8 %}
                        <td class="kolumna">
                            <div class="runda">Runda 4</div>
                            <div class="kolumna-mecze">
                                {% for rozgrywka in rozgrywki %}
                                    {% if rozgrywka.faza == 3 %}
                                    <div class="mecz {% if rozgrywki|length < 17 %}final{% endif %}">
                                        <div class="team1">{{ rozgrywka.druzyna1 }}</div>
                                        <div class="meczwynik team1">0</div>
                                        <div class="team2">{{ rozgrywka.druzyna2 }}</div>
                                        <div class="meczwynik team2">1</div>
                                        <span></span>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </td>
                        {% endif %}
                        {% if rozgrywki|length > 16 %}
                        <td class="kolumna">
                            <div class="runda">Runda 5</div>
                            <div class="kolumna-mecze">
                                {% for rozgrywka in rozgrywki %}
                                    {% if rozgrywka.faza == 4 %}
                                    <div class="mecz {% if rozgrywki|length < 33 %}final{% endif %}">
                                        <div class="team1">{{ rozgrywka.druzyna1 }}</div>
                                        <div class="meczwynik team1">0</div>
                                        <div class="team2">{{ rozgrywka.druzyna2 }}</div>
                                        <div class="meczwynik team2">1</div>
                                        <span></span>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                </table></div>
                {% else %}
                <!-- Jesli sa wygenerowane rozgrywki -->
                <div id="tablecont">
                <table>
                    <tr class="drabinka">
                        <td class="kolumna">
                            <div class="runda">Runda 1</div>
                            <div class="kolumna-mecze firstround">
                                <div class="mecz">
                                    <div class="team1">Oczekiwanie</div>
                                    <div class="meczwynik team1">0</div>
                                    <div class="team2">Oczekiwanie</div>
                                    <div class="meczwynik team2">0</div>
                                    <span></span>
                                </div>
                                <div class="mecz">
                                    <div class="team1">Oczekiwanie</div>
                                    <div class="meczwynik team1">0</div>
                                    <div class="team2">Oczekiwanie</div>
                                    <div class="meczwynik team2">0</div>
                                    <span></span>
                                </div>
                                <div class="mecz">
                                    <div class="team1">Oczekiwanie</div>
                                    <div class="meczwynik team1">0</div>
                                    <div class="team2">Oczekiwanie</div>
                                    <div class="meczwynik team2">0</div>
                                    <span></span>
                                </div>
                                <div class="mecz">
                                    <div class="team1">Oczekiwanie</div>
                                    <div class="meczwynik team1">0</div>
                                    <div class="team2">Oczekiwanie</div>
                                    <div class="meczwynik team2">0</div>
                                    <span></span>
                                </div>
                            </div>
                        </td>
                        <td class="kolumna">
                            <div class="runda">Runda 2</div>
                            <div class="kolumna-mecze secondround">
                                <div class="mecz">
                                    <div class="team1">Oczekiwanie</div>
                                    <div class="meczwynik team1">0</div>
                                    <div class="team2">Oczekiwanie</div>
                                    <div class="meczwynik team2">0</div>
                                    <span></span>
                                </div>
                                <div class="mecz">
                                    <div class="team1">Oczekiwanie</div>
                                    <div class="meczwynik team1">0</div>
                                    <div class="team2">Oczekiwanie</div>
                                    <div class="meczwynik team2">0</div>
                                    <span></span>
                                </div>
                            </div>
                        </td>
                        <td class="kolumna">
                            <div class="runda">Runda 3</div>
                            <div class="kolumna-mecze ">
                                <div class="mecz final">
                                    <div class="team1">Oczekiwanie</div>
                                    <div class="meczwynik team1">0</div>
                                    <div class="team2">Oczekiwanie</div>
                                    <div class="meczwynik team2">0</div>
                                    <span></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table></div>
                {% endif %}
            </div>
        </div>


        <div id="wybor_druzynbc"></div>
        <div id="wybor_druzyn">
            <div id="close">&#10060;</div>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" id="type" name="type" value="add">
                <label for="druzyna"><h1>Wybierz drużynę</h1></label><br>
                <select name="druzyna" id="druzyna">
                  {% for team in teams %}
                    <option value="{{ team.nazwa }}">{{ team.nazwa }}</option>
                  {% endfor %}
                </select><br>
                <button class="defaultbutton dbstatic" type="submit">Zapisz się</button>
              </form>
        </div>



    </div>
    </div></div>

    <script>
        container = document.getElementById("t-container")
        container.style.background = "url({{ tournament.zdjecie.url }}) no-repeat"; /* W3C */
        container.style.backgroundSize = "auto 100vh";
        container.style.backgroundPosition = "top right";
        container.style.backgroundAttachment = "fixed";
        
    </script>       

    <!-- NIC TEN SKRYPT NIE ROBI, POPROSTU SPRAWDZAŁEM JAK SIĘ PRZESYŁA DANE Z DJANGO DO JS -->
    <!-- <script>
        var teamButton = document.getElementById('show_teams');
        teamButton.addEventListener('click', function() {
            const userTeams = document.querySelector("#teamButton").getAttribute('data-teams')
            console.log(userTeams)
        });
    </script> -->
    <script>
        var wybor_druzynbc = document.getElementById("wybor_druzynbc")
        var buttonmobile = document.getElementById("show_teams")
        var button = document.getElementById("show_teamsmobile")
        var body = document.getElementById("body")
        var wybor_druzyn = document.getElementById("wybor_druzyn");
        button.addEventListener("click", function() {
            wybor_druzyn.style.width = "25%";
            wybor_druzyn.style.height = "75%";
            wybor_druzyn.style.padding = "3.2rem";
            wybor_druzyn.style.transition = "all .5s ease";
            wybor_druzynbc.classList.add("blacked");
            body.style.overflow = "hidden";
        }); 
        buttonmobile.addEventListener("click", function() {
            wybor_druzyn.style.width = "69%";
            wybor_druzyn.style.height = "70%";
            wybor_druzyn.style.padding = "2.2rem";
            wybor_druzyn.style.transition = "all .5s ease";
            wybor_druzynbc.classList.add("blacked");
            body.style.overflow = "hidden";
        });
        var closex = document.getElementById("close");
        closex.addEventListener("click", function() {
            wybor_druzyn.style.width = "0";
            wybor_druzyn.style.height = "0";
            wybor_druzyn.style.padding = "0";
            wybor_druzyn.style.transition = "all .3s ease";
            wybor_druzynbc.classList.remove("blacked")
            body.style.overflow = "auto";
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
        $("#refresh-btn").click(function() {
            $("#tablecont").load(location.href + " #tablecont");
        });
    });
    </script>
{% endblock %}
